@page
@model USALExamManagementSystem.Web.Areas.Identity.Pages.Account.ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot Password";
}

<div class="auth-container">
    <div class="auth-card">
        <h4 class="text-center mb-3">Reset Password</h4>

        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control auth-input" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <button type="submit" class="btn auth-btn w-100 text-white">
                Send Reset Link
            </button>
        </form>

        <div class="text-center mt-3">
            <a asp-page="./Login">Back to login</a>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
