<aside class="col-md-2 bg-success min-vh-100 p-0 text-white">
    <div class="p-3 border-bottom">
        <strong>DOCTOR PANEL</strong>
    </div>

    <ul class="nav flex-column p-3">

        <li class="nav-item">
            <a class="nav-link text-white" asp-page="/Doctor/Dashboard">
                Dashboard
            </a>
        </li>

        <!-- 🔹 EXAMS CRUD -->
        <li class="nav-item mt-3">
            <span class="text-light small ps-2">MY EXAMS</span>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" asp-page="/Exams/Index">
                Manage Exams
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" asp-page="/Exams/Create">
                Create Exam
            </a>
        </li>

    </ul>
</aside>
