<aside class="col-md-2 bg-secondary min-vh-100 p-0 text-white">
    <div class="p-3 border-bottom">
        <strong>STUDENT</strong>
    </div>

    <ul class="nav flex-column p-3">

        <li class="nav-item">
            <a class="nav-link text-white" asp-page="/Student/Dashboard">
                Dashboard
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" asp-page="/Exams/Index">
                My Exams
            </a>
        </li>

    </ul>
</aside>
