@page
@{
    ViewData["Title"] = "Welcome";
}

<div class="landing-hero">
    <div class="landing-overlay"></div>

    <div class="landing-content">
        <img src="~/images/usal-logo.png" class="landing-logo" alt="USAL Logo" />

        <h1>USAL Exam Management System</h1>

        <p>
            A unified platform for students, doctors, and administrators.
        </p>

        
    </div>
</div>
